<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
    <title>御承扬的家乡</title>
</head>
<body>
<div id="head" class="jumbotron text-center" style="margin-bottom:0">
    <h1>Web 课实验一</h1>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="Home.html">御承扬</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home.html">家乡介绍</a></li>
                <li><a href="Person.html">个人介绍</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="position: fixed;bottom: 100px;top: 250px;">
    <img src="../static/images/p5.jpg" alt="照片" style="width: 360px;height: 200px;">
    <br>
    <img src="../static/images/p2.jpg" alt="照片" style="width: 360px;height: 200px;">
    <br>
    <img src="../static/images/p4.jpg" alt="照片" style="width: 360px;height: 200px;">
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>关于御承扬的家乡</h1>
            <h5>
                <a href="https://baike.baidu.com/item/%E9%A6%99%E6%A0%A1%E6%9D%91">
                    我家乡位于广东省汕尾市陆丰市河西镇香校村
                </a>
            </h5>
            <div class="fakeimg">
                <img src="../static/images/p1.jpg" alt="照片" style="width: 360px;height: 200px;">
            </div>
            <br>
            <p>
                这是我从我家天台，向东拍摄时拍到的照片。<br>
                图片上不远处高楼林立的地方，就是本县市政府驻地所在得镇子，因此经济相对发达。
                而我家乡在地理位置上正是与市区毗邻，与市区东海镇只隔着一条漯河，到市区去相对方便，
                因为挨着横穿陆丰市的
                <a href="https://baike.baidu.com/item/%E5%B9%BF%E6%B1%95%E5%85%AC%E8%B7%AF/5286531?fr=aladdin">
                    广汕公路（G324）
                </a>
                故而交通相当便利，俗话说：<strong>要致富先修路</strong>，借着公路的便利，家乡一日日发张起来。
            </p>
            <hr class="hidden-sm hidden-md hidden-lg">
            <div style="font-size: 16px;">
                <p>
                    家乡附近比较值得一去的地方：
                </p>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="https://baike.baidu.com/item/%E6%B8%85%E4%BA%91%E5%B1%B1/5159791?fr=aladdin">清云山</a> </li>
                    <li><a href="https://baike.baidu.com/item/%E5%85%83%E5%B1%B1%E5%AF%BA/6879232?fromtitle=%E7%8E%84%E6%AD%A6%E5%B1%B1&fromid=1147846">
                        玄武山·元山寺
                    </a> </li>
                    <li><a href="https://baike.baidu.com/item/%E9%87%91%E5%8E%A2%E9%93%B6%E6%BB%A9">金厢银滩</a> </li>
                    <li><a href="https://baike.baidu.com/item/%E8%A7%82%E9%9F%B3%E5%B2%AD">观音岭</a> </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <a href="#foot" style='position:fixed;right: 0px; top: 600px;font-size: 24px;'>跳到底部</a>
            <h2>家乡风貌</h2>
            <h5>家乡的<a href="#h2">民风民俗</a>、<a href="#h1">地理外观</a> 等</h5>
            <center>
                <h3 id="h1">1、地理风貌</h3>
            </center>
            <hr style="width: 50%;color: cornflowerblue;border-style: dot-dot-dash;border-width: 3px;">

            <div style="width: 755px;height: 450px">
                <img src="../static/images/p2.jpg" alt="照片" style="width: 755px;height: 450px;">
            </div>
            <br>
            <p>图一·村后林地</p>
            <p>
                家乡和大多数陆丰自然村落一样，总体布局是一种<strong>"前居后田"</strong>的布局，如下卫星图：
            </p>
                <br>
                <img src="../static/images/p5.jpg" alt="图片" style="width: 750px;height: 510px">
                <br>
                <p>图二·家乡卫星图</p>
                <br>
            <p>
                村庄前面主要是人们居住和活动的区域，而后面主要是农田湖泊林地等。林地面积和农田面积一半半，所以我在我家天台
                拍摄时，镜头呈现的是一副<strong>“平芜尽处是春山”</strong>的画面，平时学习累了我也喜欢趴在天台的围栏上，
                远眺这一望无垠的绿色。其实家乡在我小时候，从空中看下来，绿色应该比现在还浓郁的，只是由于这些林木并不是无主林地，
                而是村里有些人种下的，为的是几年之后砍伐木材买。而我高中时期，村后林地便又经历了一次砍伐，之后才变成了图一的模样。
            </p>
            <p>
                而在田地方面，主要分为水田和旱地，水田庄稼主要是水稻，和大多数南方地区一样都是一年两熟，夏天一次秋天一次。
                旱地根据种植作物的不同可以分为菜地和非菜地，菜地就是主要种植蔬菜的旱地，村里设有市场，因此村里有些人家便种菜来销售；
                而非菜地主要指那些用来种植自家用或买卖用的经济作物，例如花生、芝麻、番薯等等，而又以番薯地为最。
            </p>
            <p>
                村里的湖泊，比较大的，从卫星图上可以看出的，主要有两处，分别位于村前和村后，湖泊面积以村后那处为最。湖泊主要被人承包用作养殖鱼类或养殖鸭子用。
                不仅湖泊是如此，对一些河流段，村里也是让人承包用于养鱼，我家旁边的一条小河沟便是如此，从小到大吃了这条河沟里不少的鱼。
            </p>
            <p>
                在居住区方面，聚居地可以分为三处，一处在中轴线上的老村原址上发展的聚居地，以及左右两边成块或成线的聚居地。从卫星图上看到，房屋围绕着的两大绿色空旷处，
                左边哪个就是村前的湖泊以及附带的农田荒地和沼泽。右边那个主要是沼泽。这两处由于建筑施工难度大、成本高，只能是从边沿慢慢侵蚀进去建房子。
                我料想不用多少年，这两处空旷处会从卫星图上消失的。
            </p>
            <br>
            <center>
                <h3 id="h2">2、人文风貌</h3>
            </center>
            <hr style="width: 50%;color: cornflowerblue;border-style: dot-dot-dash;border-width: 3px;">
            <div style="width: 755px;height: 450px">
                <img src="../static/images/p6.jpg" alt="照片" style="width: 755px;height: 450px;">
            </div>
            <br>
            <p>图三·元宵灯会祭祀</p>
            <p>
                家乡本地居民，以方言<a href="http://www.wutongzi.com/a/98072.html"><strong>海陆丰福佬话</strong></a>
                为日常交流语言，属于闽南语系。家乡姓氏主要有<strong>彭、蔡</strong>两大姓氏，其中彭姓为原住民姓氏，
                蔡氏为后来迁入逐渐发展起来。家乡节日，近几年氛围不似往前。小时候，每当逢佳节，村里相当热闹，例如元宵灯会的祭祀，
                可以说是一年中最隆重的一次，这一天白天搭棚唱戏，夜晚放电影，然后祭拜祖先在祖先灵位前决选出来年族总理。
                由于人文风貌不好把握，这里不再详细描述了。
            </p>
        </div>
    </div>
</div>
<a href="#head" style='position:fixed;right: 0px; bottom: 500px;font-size: 24px;'>跳到顶部</a>
<div id="foot" class="jumbotron text-center" style="margin-bottom:0">
    <p>Copyright &copy;彭友聪 201724073161</p>
</div>
</body>
</html>