<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OPPO 综合示例</title>
    <link rel="stylesheet" type="text/css" href="../static/css/swiper.css">
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/oppo.css">
    <style>
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }
        #banner{
            height:630px;
        }

        .swiper-container {
            width: 100%;
            height: 632px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
</head>
<body>
<!--页面顶部-->
<div id="top">
    <div class="container"></div>
</div>
<!-- 页面的头部 -->
<div id="header">
    <div class="container">
        <div class="header_left left">
            <div class="xlwb"></div>
            <div class="txwb"></div>
            <div class="tel">4001-666-888</div>
        </div>
        <ul class="right">
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#">积分兑换</a></li>
            <li><a href="#">帮助中心</a></li>
            <li class="shop_car"><span></span><a href="#">购物车</a></li>
        </ul>
    </div>
</div>
<!-- 页面的导航 -->
<div id="nav">
    <div class="container">
        <div class="logo left">
            <img src="../static/images/logo.png" alt="pic">
        </div>
        <ul class="right">
            <li><a href="#">首页</a></li>
            <li><a href="#">手机</a></li>
            <li><a href="#">配件</a></li>
            <li><a href="#">服务</a></li>
            <li><a href="#">体验店</a></li>
            <li><a href="#">软件商店</a></li>
            <li><a href="#">ColorOS</a></li>
        </ul>
    </div>
</div>
<!--页面的 Banner 部分-->
<!-- 页面的banner部分 -->
<div id="banner">
    <!-- <div class="container"></div> -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../static/images/banner1.jpg" alt="pic" width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="../static/images/banner2.jpg" alt="pic" width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="../static/images/banner3.jpg" alt="pic" width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="../static/images/banner4.jpg" alt="pic" width="100%;" height="630"></div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next">1</div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="banner-nav-bg"></div>
</div>
<!--页面的明星机型部分-->
<div id="star">
    <div class="container">
        <div class="star_top">
            <img src="../static/images/i-c-title.png" alt="pic">
        </div>
        <ul>
            <li>
                <div>
                    <img src="../static/images/20150423183545tYnFzYnn3p.jpg" alt="pic">
                </div>
                <h2>N3</h2>
                <p>1600万电动旋转摄像头</p>
                <p class="money">&yen;3999 立即购买 <span></span></p>
            </li>
            <li class="line"></li>
            <li>
                <div>
                    <img src="../static/images/20141030152751NRihyRENa7.jpg" alt="pic">
                </div>
                <h2>N3</h2>
                <p>1600万电动旋转摄像头</p>
                <p class="money">&yen;3999 立即购买 <span></span></p>
            </li>
            <li class="line"></li>
            <li>
                <div>
                    <img src="../static/images/20150120092342k2ABsEHnQN.jpg" alt="pic">
                </div>
                <h2>N3</h2>
                <p>1600万电动旋转摄像头</p>
                <p class="money">&yen;3999 立即购买 <span></span></p>
            </li>
            <li class="line"></li>
            <li>
                <div>
                    <img src="../static/images/20141029162235J7aJmCHkFm.jpg" alt="pic">
                </div>
                <h2>N3</h2>
                <p>1600万电动旋转摄像头</p>
                <p class="money">&yen;3999 立即购买 <span></span></p>
            </li>
        </ul>
    </div>
</div>
<!--页面的精选部分-->
<div id="accessory">
    <div class="container">
        <div class="acc_top">
            <img src="../static/images/wb.png" alt="pic">
        </div>
        <div class="acc_main">
            <div class="acc_left left">
                <div>
                    <img src="../static/images/20150413174400N0dPnxUKHk.jpg" alt="pic">
                </div>
                <div class="acc_all">
                    <p>OPPO手机官网ACCESSORY配件</p>
                    <ul>
                        <li>耳机</li>
                        <li>耳机</li>
                        <li>耳机</li>
                        <li>耳机</li>
                        <li>耳机</li>
                        <li>耳机</li>
                    </ul>
                    <h2 class="line"></h2>
                    <p class="acc">全部配件<span></span></p>
                </div>
                <div><img src="../static/images/20131120165101xYIYzhkVEy.jpg" alt="pic"></div>
                <div><img src="../static/images/20150413174340NLV2gvV4FU.jpg" alt="pic"></div>
            </div>
            <div class="acc_right right">
                <div><img src="../static/images/20150123182505RO822scYYt.jpg" alt="pic"></div>
                <div><img src="../static/images/20141230145609l7Fsk7CdHy.jpg" alt="pic"></div>
                <div><img src="../static/images/20141011101157yZEFpMrk0h.jpg" alt="pic"></div>
                <div><img src="../static/images/201410270957132inlm3IwsV.jpg" alt="pic"></div>
            </div>
        </div>
    </div>
</div>
<!--页面搜索OPPO部分-->
<div id="world">
    <div class="container">
        <div class="world_top"><img src="../static/images/weibo.png" alt="pic"></div>
        <div class="world_main">
            <div class="world_left left">
                <div class="a1 fade">
                    <div><img src="../static/images/20131212113902waaLqQUWfB.jpg" alt="pic"></div>
                </div>
                <div class="a1 fade">
                    <div><img src="../static/images/20140926184007v2rjcVFcbW.jpg" alt="pic"></div>
                </div>
                <div class="a1 fade">
                    <div><img src="../static/images/20150226100534QqezQ85N6y.jpg" alt="pic"></div>
                </div>
                <div class="a1 fade">
                    <div><img src="../static/images/201403261455420lqMPNGENc.png" alt="pic"></div>
                </div>
            </div>
            <div class="world_right right">
                <div class="world_title">
                    <div class="news">新闻</div>
                    <div class="weibo">微博</div>
                </div>
                <ul>
                    <li>
                        <dl>
                            <dt><img src="../static/images/20150227161036GqO59Dvta2.jpg" alt="pic"></dt>
                            <dd>OPPO R5金色版 打造纽约时装周梦幻之旅</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><img src="../static/images/20150227161036GqO59Dvta2.jpg" alt="pic"></dt>
                            <dd>OPPO R5金色版 打造纽约时装周梦幻之旅</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><img src="../static/images/20150227161036GqO59Dvta2.jpg" alt="pic"></dt>
                            <dd>OPPO R5金色版 打造纽约时装周梦幻之旅</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><img src="../static/images/20150227161036GqO59Dvta2.jpg" alt="pic"></dt>
                            <dd>OPPO R5金色版 打造纽约时装周梦幻之旅</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--页面的服务部分-->
<div id="serve">
    <div class="container">
        <ul>
            <li>
                <dl>
                    <dt></dt>
                    <dd class="dd1">正品保障</dd>
                    <dd class="dd2">所有的商品都是原装产品</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt></dt>
                    <dd class="dd1">正品保障</dd>
                    <dd class="dd2">所有的商品都是原装产品</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt></dt>
                    <dd class="dd1">正品保障</dd>
                    <dd class="dd2">所有的商品都是原装产品</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt></dt>
                    <dd class="dd1">正品保障</dd>
                    <dd class="dd2">所有的商品都是原装产品</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt></dt>
                    <dd class="dd1">正品保障</dd>
                    <dd class="dd2">所有的商品都是原装产品</dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<!--页面的售后部份-->
<div id="after_sale">
    <div class="container">
        <ul>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于OPPO</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于OPPO</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于OPPO</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于OPPO</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><span class="xl"></span><a href="#">新浪微博</a></li>
                    <li><span class="xl"></span><a href="#">腾讯微博</a></li>
                    <li><span class="xl"></span><a href="#">人人网</a></li>
                    <li><span class="xl"></span><a href="#">QQ空间</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">关于OPPO</a></li>
                    <li><a href="#">新闻中心</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ol>
            </li>
        </ul>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p>
            <img src="../static/images/i-f-logo.png" alt="pic">
            <span>@2020 御承扬</span>
            <a href="#">版权说明</a>
            <a href="#">版权说明</a>
            <a href="#">版权说明</a>
            <a href="#">版权说明</a>
        </p>
    </div>
</div>
<a id="btn" href="javascript:;" style='position:fixed;right: 0px; bottom: 25%;font-size: 24px;'>
    <img src="../static/images/toTop1.png" alt="pic">
</a>
<script type="text/javascript" src="../static/js/swiper.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../static/js/oppo.js"></script>
<script type="text/javascript">
    let swiper = new Swiper('.swiper-container',{
        pagination: '.swiper-pagination',
        paginationClickable: true,
        loop: true,
        autoplay: 3000,


        speed: 1000,
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        effect: 'fade',//  effect: 'flip',effect: 'coverFlow',slide', 'fade',cube
        grabCursor: true,
        cube: {
            shadow: false,
            slideShadows: false,
            shadowOffset: 20,
            shadowScale: 0.94
        }
    });
</script>
<script>
    window .onload = function () {

        let tp = document.getElementById("btn");
        tp.style.display = "none";
        let timer = null;
        tp.onclick = function () {
            timer = setInterval(function () {
                let backTop = document.documentElement.scrollTop || document.body.scrollTop;
                // 越滚月慢
                let speedTop = backTop/5;
                document.documentElement.scrollTop -= backTop - speedTop;
                if(backTop === 0){
                    clearInterval(timer);
                }
            },30);
        }
        let pageHeight = 700;
        let nav = document.getElementById("nav");
        let navTop = nav.offsetTop;
        window .onscroll = function () {
            let backTop = document.documentElement.scrollTop || document.body.scrollTop;
            if (backTop > pageHeight) {
                tp.style.display = "block";
            } else {
                tp.style.display = "none";
            }
            if (backTop >= navTop) {
                nav.style.position = "fixed";
                nav.style.top = "0";
                nav.style.left = "0";
                nav.style.zIndex = "100";
            } else {
                nav.style.position = "";
            }
        }
    }

</script>
</body>
</html>