<!DOCTYPE html>
<html lang="en">
<head>
    <mete name="viewport" content="width = device-width,initial-scale=1.0"></mete>
    <meta charset="UTF-8">
    <title>页面布局</title>
    <script src="../static/js/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/buju.css">
    <style type="text/css">
        .cen{
            margin: 25% auto;
        }
        button{
            width: 150px;
            height: 50px;
            background-color: #b8daff;
        }
    </style>
    <script>
        function f1() {
            alert("head标签内嵌脚本");
        }
    </script>
</head>
<body>
<div id="head" class="jumbotron text-center" style="margin-bottom:0">
    <h1>Web 课实验六·Javascript 使用</h1>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">御承扬</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="Home.html">首页</a> </li>
                <li ><a href="Person.html">站主相关 <span class="sr-only">(current)</span></a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">网页布局示例 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ><a href="Buju.html">页面布局</a></li>
                        <li ><a href="test4.html">元素效果</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="active"><a href="useJavascript.html">JS使用</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="container">
    <div id="main">
        <div id="lp" class="aside">
            <p id="ap">
                点击下面按钮，会调用在行内Javascript脚本修改本段落内容。
            </p><br>
            <button onclick="document.getElementById('ap').innerHTML='这里是在行内Javascript'">行内JS</button>
        </div>
        <div id="content">
            <div class="cen">
                <h1>
                    点击下面按钮调用head标签内的Javascript脚本
                </h1><br>
                <button onclick="f1()">嵌套JS</button>
            </div>
        </div>
        <div id="rp" class="aside">
            <p id="t1">
                点击下面的按钮，会调用外部JS改变本段落内容。
            </p><br>
            <script src="../static/js/one.js"></script>
            <button onclick="f3()">外部JS</button>
        </div>
    </div>
</div>
<div id="footer" class="jumbotron text-center" style="background-color: #5a6268;;">
    <h1 style="color: #f8f8f8">Copyright <strong>&copy;彭友聪 </strong>201724073161</h1>
</div>
</body>
</html>